# База данных
POSTGRES_HOST_LOCAL=localhost
POSTGRES_HOST_DEV=booking-db
POSTGRES_PORT=5432
POSTGRES_DB=bookingdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Кэш Redis
REDIS_HOST_LOCAL=localhost
REDIS_HOST_DEV=booking-redis
REDIS_PORT=6379
LOCK_WAIT_TIME_SECONDS=15

# Kafka Local
KAFKA_HOST_LOCAL=localhost
KAFKA_PORT_LOCAL=9092

# Kafka DEV
KAFKA_HOST_DEV=kafka
KAFKA_PORT_DEV=29092

APP_CORS_ALLOWED_ORIGIN=http://localhost:3000